[Unit]
Description=MattX Cluster Discovery Daemon
After=network.target mattx.ko

[Service]
ExecStart=/usr/local/sbin/mattx-discd
Restart=always
User=root

[Install]
WantedBy=multi-user.target


